<%- include('partials/head.ejs') %> 
<%- include('partials/header.ejs') %> 
<div>
  
    <div class="row">

      <div class="col-4">

        <div class="row justify-content-around">

          <h3>Agregar un producto</h3>
          <form action="/administrar/agregar" method="POST" class="col-12" >

            <div class="row justify-content-center" id="form">

              <div class="form-group col-12">

                <select name="categories" id="categories" class="form-control" onchange="showSubcategories();">

                  <option value="" disabled selected>Selecciona una categoría...</option>
                  <% for( i = 0; i < categorias.length; i++ ) { %>
                  <option value="<%=categorias[i].id %>"> <%= categorias[i].name %>  </option>
                  <% } %>
                </select>
              </div>

              <div class="form-group col-12">

                <select name="subcategories" id="subcategories" class="form-control">

                  <option value="" disabled selected>Selecciona una sub-categoría...</option>
                 
                </select>
              </div>

              <div class="form-group col-12">

                <input name="name" class="col-12 form-control" type="text" placeholder="Modelo">
              </div>


              <div class="form-group col-12">

                <select name="color1" id="color1" class="col-12 form-control" onchange="addColor(1);">

                  <option value="" disabled selected>Selecciona un color...</option>
                  <% for( let i = 0; i < colores.length; i++ ) { %>
                    <option value="<%=colores[i].id %>"> <%= colores[i].desc %>  </option> 
                  <% } %>
                </select>
                
              </div>

              <div class="form-group col-12" id="colorButtonContainer">

                <button type="button" class="btn btn-primary btn-block" id="addColorButton" onclick="addColorInput()">Agregar otro color</button>
              </div>
              
              <div class="form-group col-12">

                <input name="colors" id="colors" class="col-12 form-control" type="text" placeholder="" disabled>
              </div>

              <div class="form-group col-12">

                <input name="price" class="col-12 form-control" type="number" placeholder="Precio">
              </div>

              <div class="form-group col-12">

                <input name="listPrice" class="col-12 form-control" type="number" placeholder="Precio de Lista">
              </div>

              <button type="reset" class="btn btn-danger col-5">Borrar</button>

              <button type="submit" class="btn btn-primary col-5">Agregar</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="/js/agregarProducto.js"></script>
<%- include('partials/footer.ejs') %> 